<style type="text/css">
    pre {
        white-space: pre-wrap;
        word-wrap: break-spaces;
    }

</style>
<pre style="width: 750px; font-size: 150%; margin: 20px auto;">
<div class="text-align: center">

    <div align="center">
        <h1>{{ hp.title }}</h1>
        <h3>{{ hp.data }}</h3>
        <img src="{{ hp.image.url }}" height=50%; >
    </div>


</div>



    <div align="center">
        <h1>{{ hp.description }}</h1>
        <img src="{{ hp.image.url }}" height=50%; >
    </div>
</pre>